// Place all the styles related to the happies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.happy-container {margin: 20px 0px; font-size: 12pt;}
div.happy-thought {margin: 5px 0px;}
div.but-thought {margin: 5px 0px;}
div.happy-date {font-size: 9pt; font-style: italic;}